<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pretty.css" />
    <title>Crystal List</title>
</head>
<body>
    <h1><%=user.username %>'s Crystal List</h1>
    <a href="/">Back</a>
   <div class="unique"><% crystals.forEach((crystal)=> { %>
        <ul>
            <li><%= crystal.name %></li>
            <li><%= crystal.origin %></li>
            <li><%= crystal.symbolism %></li>
            <li><img class="fit" src="<%= crystal.image %>" alt= "<%= crystal.name %>" ></li>
            <li><%= crystal.description %></li>
            
        </ul>
            <a href="/users/<%= user._id %>/crystals/<%=crystal._id %>/edit">Make Changes in your Gems' List</a>
            <form action="/users/<%= user._id %>/crystals/<%= crystal._id %>?_method=DELETE" method="POST">
                <button type="submit">Remove from your List</button>
            </form>
   <% }) %>
   
</div>
</body>
</html>